<link rel="stylesheet" href="profile" />

<div class="profile">
  <div class="container">
    <div class="profile-picture">
      <div class="col-md-2 col-md-offset-2 col-xs-4">
        <%= image_tag @user.profile_photo.to_s if !@user.profile_photo.nil? %>
      </div>
    </div>
    <div class="user-information">
      <div class="col-md-3 col-xs-8 info">
        <h3><%= "@#{@user.username}"%></h3>
      <div class="follow-button">
          <% if current_user.nil? || current_user.id == @user.id %>
          <% elsif !current_user.following?(@user) %>
          <%= simple_form_for @relationship do |f| %>
          <%= f.input :followed_id, as: :hidden, input_html: { value: @user.id } %>
            <%= f.submit 'Follow' %>
          <% end %>
          <% else %>
            <%= link_to "Unfollow", relationship_path(current_user.active_relationships.find_by(followed_id: @user.id).id), method: :delete %>
          <% end %>
      </div>
      </div>
      <div class="col-md-6 col-xs-8">
        <% if !@user.bio.nil? %>
          <h5><%= @user.bio %></h5>
        <% end %>
      </div>
      <div class="col-md-6 col-xs-8">
        <ul class="list-inline">
          <li><%= "FOLLOWERS: #{@user.followers.count}" %></li>
          <li><%= "FOLLOWING: #{@user.following.count}" %></li></br>
          <li><%= link_to 'Edit Profile', edit_profile_path(@user) %></li>
          <li><%= link_to 'Change Password', edit_user_registration_path %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="fluid-container">
    <div class="user-trail col-md-12">
      <% @trails.each do |trail| %>
      <div class="col-md-4 text-center">
        <div class="image col-md-12">
          <%= image_tag trail.trail_photo.to_s if !trail.trail_photo.nil? %>
        </div>
        <p><%= link_to trail.name, trail_path(trail.id) %></p>
      </div>
      <% end %>
    </div>
  </div>
</div>
