<%= "Welcome! " + @user.full_name(current_user) %>
<% if !@user.bio.nil? %>
  <%= @user.bio %>
<% end %>
<%= link_to 'Edit', edit_profile_path(current_user) %>
<%= "Home City" %>
<%= "Favorite City" %>


<h1><%="TRAILS!" %></h1>
<% @trails.each do |trail| %>
  <%= trail.name %>
  <%= trail.location %>
<% end %>

<% if !@favorites.nil? %>
  <%= 'FAVORITES:' %>
  <% @favorites.each do |favorite| %>
    <%= favorite.name %>
    <%= link_to 'Remove Favorite', favorite_path(favorite.id), method: :delete, data: {confirm: "Are you sure you want to remove this?"} %>
  <% end %>
<% end %>

<%= link_to 'Home', root_path %>
