<div class="home">
  <div class="fluid-container">
    <div class="col-md-12 col-xs-12 cover-photo">
      <div id='text'>
        Where to Next?
      </div>
    </div>

    <div class="col-md-12 text-center">
      <div class="featured-trails">
        <p>FEATURED TRAILS</p>
      </div>
    </div>

    <div class="trail-container center-block">
      <% if !@all_trails.nil? %>
        <% @all_trails.each do |trail| %>
          <div class="trail-description col-md-6 text-center">
            <div class="post">
              <div class="image">
                <%= image_tag trail.trail_photo.to_s if !trail.trail_photo.nil? %>
                <%= link_to trail.name, trail_path(trail.id) %>
                <%= simple_form_for @favorite do |f| %>
                  <div class="post-close">
                    <%= f.input :trail_id, as: :hidden, input_html: { value: trail.id } %>
                    <%= f.submit %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>


    <div class="col-md-12 form">
      <h1><%= link_to 'Share Your Own Adventure', new_trail_path %></h1>
    </div>

    <div class='col-md-12 about-us'>
      <div class="col-md-6">
        <h3> <%= "Ever been passing through a city & want to explore it, but you're
        only there for one day? We've been there & we've got you..."%></h3>
      </div>
      <div class="col-md-6">
        <iframe src="https://player.vimeo.com/video/118781912" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <a href="https://vimeo.com/118781912">City in a Day - Welcome to the Adventure</a> from <a href="https://vimeo.com/cityinaday">City In A Day</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
      </div>
    </div>
  </div>
  <div class="footer"></div>
</div>
