<div class="form-container">
  <%= simple_form_for @trail do |f| %>
    <div class="error-messages">
      <% if @trail.errors.any? %>
        <h2><%= pluralize(@trail.errors.count, "error") %> prohibiited this answer from being saved:</h2>
      <% end %>

      <% @trail.errors.full_messages.each do |message| %>
        <ul>
          <li><%= message %></li>
        </ul>
      <% end %>
    </div>
    <div class="form">
      <%= f.input :name, label: 'Name', required: true %>
      <%= f.input :mood, label: 'What was the mood of your adventure?', collection: Trail::MOOD %>
      <%= f.input :trail_photo, type: :file %>
      <%= f.submit 'Make New Trail' %>
    </div>
  <% end %>
</div>
