<link rel="stylesheet" href="trail" />

<div class="trail-container">
  <div class="trail-details">

    <div class="trail-image">
      <%= image_tag @trail.trail_photo.to_s if !@trail.trail_photo.nil? %>
    </div>

    <div class="users-name">
      <%= link_to "Added By: #{@user.first_name} #{@user.last_name}", profile_path(@user.id) %>
    </div>

    <div class="trail-identity">
      <%= @trail.name %><br/>
      <%= @trail.mood %>
    </div>

      <% @locations.each_with_index do |location, index| %>
        <div class="location-information">
          <%= "#{index + 1}. #{location.name}" %><br/>
          <%= "#{location.location}" %><br/>
          <%= "#{location.description}" %><br/>
          <%= "#{location.price}" %><br/>
        </div>
      <% end %>
  </div>

  <div class="line-separator"></div>
  
  <div class="comment-container">
    <%= render 'comment_form' %>
      <% if !@comments.nil? %>
        <% @comments.each do |comment| %>
          <%= comment.description %>
        <% end %>
      <% end %>
  </div>

  <% if !current_user.nil? && current_user.id == @user.id %>
    <div class="location-form">
      <%= render 'location_form' %>
    </div>
  <% end %>
</div>
