<div class='login-form'>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, placeholder: 'EMAIL', label: false %>
      <%= f.input :password, required: true, placeholder: 'PASSWORD', label: false %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Login" %>
    </div>
<% end %>

<div class="other">
  <%= render "devise/shared/links" %>
</div>
</div>
