<link rel="stylesheet" href="signin" />

<div class="sign-in-container">
  <div class='login'><%="LOGIN"%></div>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, placeholder: 'Fill in Username', label: false %>
      <%= f.input :password, required: true, placeholder: 'Fill in Password', label: false %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign In" %>
    </div>
  <% end %>

  <div class="other">
    <%= render "devise/shared/links" %>
  </div>
</div>
