<div id="app"></div>
<div id="location-form">
  <div class="col-md-6 col-xs-12">
    <div id="location-creator">
      <div class="new-location">
        <%= simple_form_for [@trail, @location] do |f| %>
        <div class="error-messages">
          <% if @location.errors.any? %>
          <h2><%= pluralize(@location.errors.count, "error") %> prohibiited this answer from being saved:</h2>
          <% end %>

          <% @location.errors.full_messages.each do |message| %>
          <ul>
            <li><%= message %></li>
          </ul>
          <% end %>
        </div>

        <%= f.input :name, label: 'Name of Location', required: false %>
        <%= f.input :location, label: 'Where was it?', required: false %>
        <%= f.input :description, label: 'Tell us a little bit about it:', required: false %>
        <%= f.input :price, label: 'What was the price? (ex: 5-10, 10-20)', required: false %>
        <%= f.input :trail_id, as: :hidden, input_html: { value: @trail.id } %>
        <div id="form-submit" class="button text-center"><%= f.submit 'Make New Location', data: { disable_with: 'Making new location'} %></div>
        <% end %>
      </div>
    </div>
  </div>
  <%= render 'form' %>
</div>
<!--
<div id="location-form">
  <%= simple_form_for [@trail, @location] do |f| %>
    <%= f.input :location, required: false %>
    <%= f.input :description, required: false %>
    <%= f.input :name, required: false %>
    <%= f.input :price, required: false %>
    <%= f.input :trail_id, as: :hidden, input_html: { value: @trail.id } %>
    <%= f.input :photos, type: :file %>
    <%= f.button :submit, 'New Location 3', id: 'location-creator' %>
  <% end %>
</div> -->
