<!DOCTYPE html>
<html>
  <head>
    <title>CityInADay</title>
    <%= csrf_meta_tags %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <%= yield %>
    <% flash.each do |type, message| %>
      <span class="error_msgs">
        <div data-alert class="alert-box <%= type %>">
          <%= message %>
        </div>
      </span>
    <% end %>
  </body>
</html>
