<!DOCTYPE html>
<html>
  <head>
    <title>CityInADay</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar">
      <ul>
        <li><span class='logo'><%= link_to "CITY IN A DAY", root_path %></span></li>
        <li><%= link_to 'About Us', '#' %></li>
        <li><%= link_to 'FAQ' %></li>

        <% if user_signed_in? %>
          <li><span class='user-authentication'><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></span></li>
          <li><span class='user-authentication'><%= link_to "#{current_user.first_name}" + " #{current_user.last_name}", profile_path(current_user) %></span></li>
        <% else %>
          <li><span class='user-authentication'><%= link_to 'Sign In', new_user_session_path %>
          <%= link_to 'Sign Up', new_user_registration_path %></span></li>
        <% end %>

        <div class="search-feature">
          <%= form_tag trails_path, method: "get" do %>
              <%= text_field_tag :search, params[:search] %>
              <%= submit_tag "Search", name: nil %>
          <% end %>
        </div>
      </ul>
    </nav>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
